<!-- src/app/app.component.html -->
<main class="main-container">
  <div class="header">
    <a [routerLink]="['/']" class="brand">
      <img class="brand-logo" src="/assets/logo.png" alt="logo" aria-hidden="true">
    </a>
    <form class="search-form" (submit)="onSearch(filter.value); $event.preventDefault()">
      <input type="text" placeholder="Filter by author" #filter>
      <button class="primary" type="submit">Search</button>
    </form>
  </div>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
